@CHARSET "UTF-8";

body{
	width:100%;
	height:100%;
	background-color:#f5f5f5;
}

.main{
	text-align:center;
	background-color:white;
	margin:10% 10%;
	padding:10px 10px;
	border-radius:20px;
	box-shadow:10px 10px 3px #aaaaaa;
}

.errormsg{
}